@page "/";
@using QuestionsAndAnswers.Web.Pages.Bases
@inherits IndexBase;

@if (!Loading)
{
    <section id="qna" class="page-container">
        <div class="page">
            <div class="new-q-a-container">
                <div class="new-q-a">
                    @if (!ShowAddForm)
                    {
                        <div class="add-btn">
                            <button @onclick="ToggleAddQnA" class="btn-primary">Add new</button>
                        </div>
                    }

                    @if (ShowAddForm)
                    {
                        <div class="add-new-form">
                            <input @bind="Question" placeholder="Question" />
                            <textarea @bind="Answer" placeholder="Answer"></textarea>
                            <input @bind="ImgUrl" placeholder="Img Source" />
                            <button @onclick="AddQnA" class="btn-primary">Add</button>
                            <button @onclick="ToggleAddQnA" class="btn-primary">Cancel</button>
                        </div>
                    }
                </div>
            </div>
            <div class="questions-n-answers">
                @foreach (var qna in QnAs)
                {
                    <div class="qna-card">
                        <div @onclick="(e => ToggleQnA(qna.Data.Id))" class="q-head">
                            <h1>@qna.Data.Question</h1>

                            @if (qna.Show)
                            {
                                <h1 class="toggle">-</h1>
                            }
                            else
                            {
                                <h1 class="toggle">+</h1>
                            }
                        </div>

                        @if (qna.Show)
                        {
                            <div class="a-content">
                                <p>
                                    @qna.Data.Answer
                                </p>
                            </div>

                            @if (!string.IsNullOrEmpty(qna.Data.ImgUrl))
                            {
                                <div class="img-content">
                                    <img src="@qna.Data.ImgUrl" />
                                </div>
                            }
                        }
                    </div>
                }
            </div>
        </div>
    </section>
}